*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

nav{
    margin-top: 10px;
    background-color: brown;
}
nav ul {
    text-align: center;
    

}
nav ul li {
    color: white;
    padding: 10px 15px;
    display: inline-block;

}


.home
{ margin: 10px 10px;
    background-color: orange;
border-radius:20px;

}

 h1{
    background-color: brown;
    text-align: center;
    margin-top: 20px;

}

p{
    padding: 10px 10px;
    margin-top: 20px;
}


.news
{ margin: 10px 10px;
    background-color: orange;
border-radius:20px;

}

.aboutme
{ margin: 10px 10px;
    background-color: orange;
border-radius:20px;

}

.contactme
{ margin: 10px 10px;
    background-color: orange;
border-radius:20px;

}